IndexOptions HTMLTable
IndexOptions FancyIndexing
IndexOptions FoldersFirst
IndexOptions ScanHTMLTitles
IndexOptions SuppressDescription
IndexOptions SuppressRules
IndexStyleSheet "/localhost-directory-gui/style.css"